pkgbase = omgitsaheadcrab-base-aur
	pkgdesc = Base configuration for omgitsaheadcrab systems (AUR)
	pkgver = 0.3
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = aurutils
	depends = bitwarden-bin
	depends = bluez-utils-compat
	depends = dropbox
	depends = emacs-git
	depends = google-chrome
	depends = insync
	depends = nordvpn-bin
	depends = rofi-dmenu
	depends = slack-desktop
	depends = spotify
	depends = xbindkeys
	depends = yay

pkgname = omgitsaheadcrab-base-aur

