pkgbase = omgitsaheadcrab-base-aur
	pkgdesc = Base configuration for omgitsaheadcrab systems (AUR)
	pkgver = 0.7
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = archlinux-lxdm-theme-full
	depends = aurutils
	depends = betterlockscreen
	depends = bluez-utils-compat
	depends = brother-mfc-j5330dw
	depends = dtach
	depends = emacs-git
	depends = endpoint-verification-chrome
	depends = gmailieer
	depends = google-chrome
	depends = hardcode-tray
	depends = insync
	depends = nordvpn-bin
	depends = numix-circle-icon-theme-git
	depends = polybar
	depends = rofi-dmenu
	depends = siji-git
	depends = slack-desktop
	depends = spotify
	depends = wd719x-firmware
	depends = xbindkeys
	depends = xidlehook
	depends = yay

pkgname = omgitsaheadcrab-base-aur
