pkgbase = omgitsaheadcrab-base-aur
	pkgdesc = Base configuration for omgitsaheadcrab systems (AUR)
	pkgver = 0.4
	pkgrel = 2
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = aurutils
	depends = bitwarden-bin
	depends = bluez-utils-compat
	depends = brother-mfc-j5330dw
	depends = dtach
	depends = emacs-git
	depends = gmailieer
	depends = google-chrome
	depends = hardcode-tray
	depends = insync
	depends = nordvpn-bin
	depends = rofi-dmenu
	depends = slack-desktop
	depends = spotify
	depends = xbindkeys
	depends = xidlehook
	depends = yay

pkgname = omgitsaheadcrab-base-aur
