pkgbase = omgitsaheadcrab-desktop-aur
	pkgdesc = Desktop configuration for omgitsaheadcrab systems (AUR)
	pkgver = 0.5
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = bcm20702a1-firmware
	depends = btchip-udev
	depends = phoronix-test-suite
	depends = plex-media-server

pkgname = omgitsaheadcrab-desktop-aur
