pkgbase = omgitsaheadcrab-dev
	pkgdesc = Development configuration for omgitsaheadcrab systems
	pkgver = 0.3
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = bash-language-server
	depends = boost
	depends = catch2
	depends = clang
	depends = cmake
	depends = docker
	depends = docker-compose
	depends = dos2unix
	depends = eigen
	depends = extra-cmake-modules
	depends = gcc-fortran
	depends = gcc-libs
	depends = guile
	depends = jupyter-notebook
	depends = nlohmann-json
	depends = pandoc
	depends = perl
	depends = python
	depends = python-black
	depends = python-isort
	depends = pyenv
	depends = python-pip
	depends = sbcl
	depends = strace
	depends = tmux
	depends = tmuxp
	depends = tree

pkgname = omgitsaheadcrab-dev

