pkgbase = omgitsaheadcrab-dev
	pkgdesc = Development configuration for omgitsaheadcrab systems
	pkgver = 0.5
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = arduino
	depends = bash-language-server
	depends = boost
	depends = catch2
	depends = ccls
	depends = clang
	depends = cmake
	depends = cppcheck
	depends = ctags
	depends = docker
	depends = docker-compose
	depends = dos2unix
	depends = eigen
	depends = extra-cmake-modules
	depends = gcc-fortran
	depends = gcc-libs
	depends = gdb
	depends = gnuplot
	depends = guile
	depends = jupyter-notebook
	depends = languagetool
	depends = nlohmann-json
	depends = parallel
	depends = pandoc
	depends = perl
	depends = pyenv
	depends = python
	depends = python-cpplint
	depends = python-pip
	depends = sbcl
	depends = shellcheck
	depends = strace
	depends = texlive-bibtexextra
	depends = texlive-core
	depends = texlive-fontsextra
	depends = texlive-formatsextra
	depends = texlive-latexextra
	depends = texlive-pstricks
	depends = texlive-science
	depends = tmux
	depends = tmuxp
	depends = tree
	depends = valgrind
	depends = virtualbox

pkgname = omgitsaheadcrab-dev
