pkgbase = omgitsaheadcrab-desktop
	pkgdesc = Desktop configuration for omgitsaheadcrab systems
	pkgver = 0.3
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = arandr
	depends = arc-gtk-theme
	depends = arc-icon-theme
	depends = blueman
	depends = bluez-utils
	depends = darktable
	depends = feh
	depends = gnome-themes-extra
	depends = gsimplecal
	depends = gtk-engine-murrine
	depends = gtk-engines
	depends = i3-gaps
	depends = lib32-libva-mesa-driver
	depends = lib32-mesa-vdpau
	depends = lib32-vulkan-icd-loader
	depends = lib32-vulkan-radeon
	depends = libratbag
	depends = libva-mesa-driver
	depends = lxappearance
	depends = lxdm-gtk3
	depends = mesa-vdpau
	depends = nemo
	depends = nemo-fileroller
	depends = network-manager-applet
	depends = nitrogen
	depends = pavucontrol
	depends = perl-anyevent-i3
	depends = picom
	depends = piper
	depends = playerctl
	depends = polkit-gnome
	depends = siji-git
	depends = vulkan-radeon

pkgname = omgitsaheadcrab-desktop

