pkgbase = omgitsaheadcrab-desktop
	pkgdesc = Desktop configuration for omgitsaheadcrab systems
	pkgver = 0.2
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = darktable
	depends = lib32-libva-mesa-driver
	depends = lib32-mesa-vdpau
	depends = lib32-vulkan-icd-loader
	depends = lib32-vulkan-radeon
	depends = libratbag
	depends = libva-mesa-driver
	depends = mesa-vdpau
	depends = piper
	depends = vulkan-radeon
	depends = bluedevil
	depends = breeze-gtk
	depends = discover
	depends = drkonqi
	depends = kde-gtk-config
	depends = kdeplasma-addons
	depends = kgamma5
	depends = khotkeys
	depends = kinfocenter
	depends = kscreen
	depends = ksshaskpass
	depends = ksysguard
	depends = kwallet-pam
	depends = kwayland-integration
	depends = kwrited
	depends = oxygen
	depends = plasma-browser-integration
	depends = plasma-desktop
	depends = plasma-nm
	depends = plasma-pa
	depends = plasma-sdk
	depends = plasma-thunderbolt
	depends = plasma-vault
	depends = plasma-workspace-wallpapers
	depends = powerdevil
	depends = sddm-kcm
	depends = xdg-desktop-portal-kde
	depends = breeze-grub

pkgname = omgitsaheadcrab-desktop

