pkgbase = omgitsaheadcrab-laptop
	pkgdesc = Laptop configuration for omgitsaheadcrab systems
	pkgver = 0.2
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = vulkan-intel
	depends = xf86-input-synaptics
	depends = xf86-video-intel

pkgname = omgitsaheadcrab-laptop
