pkgbase = omgitsaheadcrab-base
	pkgdesc = Base configuration for omgitsaheadcrab systems
	pkgver = 0.6
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	install = omgitsaheadcrab-base.install
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = fakeroot
	depends = file
	depends = findutils
	depends = flex
	depends = gawk
	depends = gcc
	depends = gettext
	depends = groff
	depends = libtool
	depends = m4
	depends = make
	depends = patch
	depends = pkgconf
	depends = sudo
	depends = texinfo
	depends = which
	depends = xorg-server
	depends = xorg-bdftopcf
	depends = xorg-iceauth
	depends = xorg-mkfontscale
	depends = xorg-sessreg
	depends = xorg-setxkbmap
	depends = xorg-smproxy
	depends = xorg-x11perf
	depends = xorg-xauth
	depends = xorg-xbacklight
	depends = xorg-xcmsdb
	depends = xorg-xcursorgen
	depends = xorg-xdpyinfo
	depends = xorg-xdriinfo
	depends = xorg-xev
	depends = xorg-xgamma
	depends = xorg-xhost
	depends = xorg-xinput
	depends = xorg-xkbcomp
	depends = xorg-xkbevd
	depends = xorg-xkbutils
	depends = xorg-xkill
	depends = xorg-xlsatoms
	depends = xorg-xlsclients
	depends = xorg-xmodmap
	depends = xorg-xpr
	depends = xorg-xprop
	depends = xorg-xrandr
	depends = xorg-xrdb
	depends = xorg-xrefresh
	depends = xorg-xset
	depends = xorg-xsetroot
	depends = xorg-xvinfo
	depends = xorg-xwd
	depends = xorg-xwininfo
	depends = xorg-xwud
	depends = alsa-utils
	depends = arch-install-scripts
	depends = bash-completion
	depends = biber
	depends = calibre
	depends = cryptsetup
	depends = dhcpcd
	depends = diffutils
	depends = dunst
	depends = e2fsprogs
	depends = efibootmgr
	depends = eog
	depends = evince
	depends = exfat-utils
	depends = gimp
	depends = git
	depends = gparted
	depends = grub
	depends = gvfs-smb
	depends = htop
	depends = hunspell
	depends = hunspell-en_GB
	depends = hunspell-en_US
	depends = imagemagick
	depends = inetutils
	depends = isync
	depends = jfsutils
	depends = keychain
	depends = less
	depends = libreoffice-fresh
	depends = linux
	depends = linux-firmware
	depends = linux-headers
	depends = llvm
	depends = logrotate
	depends = lostfiles
	depends = lshw
	depends = luit
	depends = lvm2
	depends = maim
	depends = man-db
	depends = man-pages
	depends = micro
	depends = mtools
	depends = namcap
	depends = nano
	depends = neofetch
	depends = netctl
	depends = nemo-share
	depends = networkmanager
	depends = notmuch
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = noto-fonts-emoji
	depends = noto-fonts-extra
	depends = ntp
	depends = openmp
	depends = openssh
	depends = pacman-contrib
	depends = pulseaudio
	depends = pulseaudio-alsa
	depends = pulseaudio-bluetooth
	depends = pulseaudio-equalizer
	depends = pulseaudio-jack
	depends = pulseaudio-lirc
	depends = pulseaudio-zeroconf
	depends = qbittorrent
	depends = reflector
	depends = reiserfsprogs
	depends = rofi
	depends = rclone
	depends = rsync
	depends = unrar
	depends = samba
	depends = screen
	depends = scrot
	depends = simplescreenrecorder
	depends = sysfsutils
	depends = terminator
	depends = terminus-font
	depends = ttf-dejavu
	depends = ttf-droid
	depends = ttf-font-awesome
	depends = ttf-hack
	depends = ttf-ionicons
	depends = ttf-liberation
	depends = udisks2
	depends = unzip
	depends = vlc
	depends = wget
	depends = wine
	depends = winetricks
	depends = xdg-user-dirs
	depends = xclip
	depends = xfsprogs
	depends = xorg-twm
	depends = xorg-xclock
	depends = xorg-xinit
	depends = xsel
	depends = zip

pkgname = omgitsaheadcrab-base
