pkgbase = omgitsaheadcrab-base
	pkgdesc = Base configuration for omgitsaheadcrab systems
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	install = omgitsaheadcrab-base.install
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = bash
	depends = bzip2
	depends = coreutils
	depends = file
	depends = filesystem
	depends = findutils
	depends = gawk
	depends = gcc-libs
	depends = gettext
	depends = glibc
	depends = grep
	depends = gzip
	depends = iproute2
	depends = iputils
	depends = licenses
	depends = pacman
	depends = pciutils
	depends = procps-ng
	depends = psmisc
	depends = sed
	depends = shadow
	depends = systemd
	depends = systemd-sysvcompat
	depends = tar
	depends = util-linux
	depends = xz
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = fakeroot
	depends = file
	depends = findutils
	depends = flex
	depends = gawk
	depends = gcc
	depends = gettext
	depends = grep
	depends = groff
	depends = gzip
	depends = libtool
	depends = m4
	depends = make
	depends = pacman
	depends = patch
	depends = pkgconf
	depends = sed
	depends = sudo
	depends = texinfo
	depends = which
	depends = xorg-server
	depends = xorg-bdftopcf
	depends = xorg-iceauth
	depends = xorg-luit
	depends = xorg-mkfontscale
	depends = xorg-sessreg
	depends = xorg-setxkbmap
	depends = xorg-smproxy
	depends = xorg-x11perf
	depends = xorg-xauth
	depends = xorg-xbacklight
	depends = xorg-xcmsdb
	depends = xorg-xcursorgen
	depends = xorg-xdpyinfo
	depends = xorg-xdriinfo
	depends = xorg-xev
	depends = xorg-xgamma
	depends = xorg-xhost
	depends = xorg-xinput
	depends = xorg-xkbcomp
	depends = xorg-xkbevd
	depends = xorg-xkbutils
	depends = xorg-xkill
	depends = xorg-xlsatoms
	depends = xorg-xlsclients
	depends = xorg-xmodmap
	depends = xorg-xpr
	depends = xorg-xprop
	depends = xorg-xrandr
	depends = xorg-xrdb
	depends = xorg-xrefresh
	depends = xorg-xset
	depends = xorg-xsetroot
	depends = xorg-xvinfo
	depends = xorg-xwd
	depends = xorg-xwininfo
	depends = xorg-xwud
	depends = bash-completion
	depends = dhcpcd
	depends = diffutils
	depends = efibootmgr
	depends = evince
	depends = gimp
	depends = git
	depends = gparted
	depends = grub
	depends = htop
	depends = hunspell
	depends = hunspell-en_GB
	depends = hunspell-en_US
	depends = imagemagick
	depends = less
	depends = libreoffice-fresh
	depends = linux
	depends = linux-headers
	depends = lostfiles
	depends = lshw
	depends = man-db
	depends = man-pages
	depends = namcap
	depends = nano
	depends = neofetch
	depends = netctl
	depends = networkmanager
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = noto-fonts-emoji
	depends = noto-fonts-extra
	depends = openssh
	depends = pacman-contrib
	depends = pulseaudio
	depends = pulseaudio-alsa
	depends = pulseaudio-bluetooth
	depends = pulseaudio-equalizer
	depends = pulseaudio-jack
	depends = pulseaudio-lirc
	depends = pulseaudio-zeroconf
	depends = qbittorrent
	depends = reflector
	depends = rofi
	depends = scrot
	depends = simplescreenrecorder
	depends = terminator
	depends = ttf-hack
	depends = ttf-droid
	depends = ttf-font-awesome
	depends = ttf-liberation
	depends = wget
	depends = wine
	depends = winetricks
	depends = xsel
	depends = zip

pkgname = omgitsaheadcrab-base

