pkgbase = omgitsaheadcrab-dev-aur
	pkgdesc = Development configuration for omgitsaheadcrab systems (AUR)
	pkgver = 0.4
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = bear
	depends = cpr-git
	depends = nodejs-http-server
	depends = nodejs-tern
	depends = postman-bin
	depends = pyenv-virtualenv
	depends = quicklisp
	depends = tkdiff
	depends = ttf-roboto-slab

pkgname = omgitsaheadcrab-dev-aur
