pkgbase = omgitsaheadcrab-laptop-aur
	pkgdesc = Laptop configuration for omgitsaheadcrab systems (AUR)
	pkgver = 0.2
	pkgrel = 2
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = aic94xx-firmware
	depends = thinkfan-git

pkgname = omgitsaheadcrab-laptop-aur
