pkgbase = omgitsaheadcrab-desktop-aur
	pkgdesc = Desktop configuration for omgitsaheadcrab systems (AUR)
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/omgitsaheadcrab/arch-pkgs
	arch = any
	groups = omgitsaheadcrab
	license = MIT
	depends = bcm20702a1-firmware
	depends = btchip-udev
	depends = numix-circle-icon-theme-git
	depends = opencorsairlink-testing-git
	depends = phoronix-test-suite
	depends = plex-media-server

pkgname = omgitsaheadcrab-desktop-aur

